.input_container {
    position: relative;
    display: flex;
}

.search_icon {
    position: absolute;
    top: 33%;
    left: 2%;
}

.search_input {
    width: 40vw;
    height: 3.5rem;
    border: 1px solid #1D3557;
    border-radius: 1.5rem;
    padding-inline: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 25ms;
    background-color: #F1FAEE;
}

.search_input:hover {
    border: 1.5px solid #1D3557;
    transition: border 25ms;
}